{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<style>
    .swiper {
  width: 400px;
  height: 400px;
}

    .swiper-button-next ,
    .swiper-button-prev {
        --swiper-navigation-size:22px;
        color: white;
        font-weight: 900;
        opacity: 0.7;
        text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
    }

    .swiper-container { width: 100%; height: 100%; }
.swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; }
.swiper-pagination-bullet { width: 12px; height: 12px; background: transparent; border: 1px solid pink; opacity: 1; }
.swiper-pagination-bullet-active { width: 40px; transition: width .5s; border-radius: 5px; background: pink; border: 1px solid transparent; }

</style>


<div class="card card-body t-w-1/3 container t-mt-4 t-border-r-0 t-border-l-0 t-font-bold">
    <div class="t-flex t-justify-between">
        <div>
            {{photo_detail.user}}
        </div>
        {% if user.id == photo_detail.user.id %}
        <div>
            <a class="t-text-right t-no-underline t-text-indigo-400"
               href="{% url 'photo:delete' photo_detail.id %}">삭제</a>
        </div>
        {% endif %}
    </div>
</div>

<div class="container t-text-center t-mt-4">
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper t-text-center">
        <!-- Slides -->
        {% for img in photo%}
        <div class="swiper-slide">
            <img src="{{ img.imgfile.url }}" style="width: 400px; height: 400px;" alt="">
        </div>
        {% endfor %}
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>

</div>

</div>
<div class="card card-body t-w-1/3 container t-mt-4 t-p-0 t-border-0 t-text-2xl">
    <div>
        <a href="{% url 'photo:photo_like' photo_detail.id %}">
            <a href="{% url 'photo:photo_like' photo_detail.id %}" style="text-decoration-line:none;">
                {% if user in photo_detail.likes_user.all %}
                💗
                {% else %}
                🤍
                {% endif %}
            </a>
        </a>
    </div>
</div>
<div class="card card-body t-w-1/3 container t-p-0 t-border-0">좋아요 {{photo_detail.like_count}}개</div>
<div class="card card-body t-w-1/3 container">
    <div class="t-font-bold">
        {{photo_detail.user}}
    </div>
    <div class="t-mt-1 t-mb-2.5">
        {{photo_detail.content}}
    </div>
    <div class="t-p-3 t-border-gray-400 t-border-solid t-border-t t-border-r-0 t-border-b-0 t-border-l-0">
        <div class="t-pb-3">
            {% if photo_detail.comment_set.count > 0 %}
            {% for comment in photo_detail.comment_set.all %}
            <div class="t-flex">
                <div class="t-font-bold">
                    {{ comment.user }}&nbsp;&nbsp;
                </div>
                {{ comment.content }}<br>
            </div>
            {% endfor %}
            {% else %}
            <div style="opacity:0.7;">
                작성된 댓글이 없습니다💦
            </div>
            {% endif %}
        </div>
        <div class="t-pt-3 t-border-gray-400 t-border-solid t-border-t t-border-r-0 t-border-b-0 t-border-l-0">
            <form method="POST" action="{% url 'comment:comment_photo' photo_detail.id %}">
                {% csrf_token %}
                {{user}}
                <input type="text" name="comment" id="comment" placeholder="댓글입력..." style="border:none; width:400px; ">
                <input type="submit" style="border:none; background-color:white; color:skyblue;" value="게시">
            </form>
        </div>
    </div>
</div>

{%endblock%}

{% block script %}
<script type='text/javascript'>
    const swiper = new Swiper('.swiper', {

  loop: true,

  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  pagination: { el: '.swiper-pagination', type: 'bullets', },
});

</script>

</script>
{% endblock %}