{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container  t-text-center">
    <img src="{{ photo_detail.imgfile.url }}" style="width: 400px;" alt="">
</div>
<div class="card card-body t-w-1/3 container t-mt-4 t-p-0 t-border-0 t-text-2xl">
    <div>
        <a href="{% url 'photo:photo_like' photo_detail.id %}">
            <a href="{% url 'photo:photo_like' photo_detail.id %}" style="text-decoration-line:none;">
                {% if user in photo_detail.likes_user.all %}
                💗
                {% else %}
                🤍
                {% endif %}
            </a>
        </a>
    </div>

</div>
<div class="card card-body t-w-1/3 container t-p-0 t-border-0">좋아요 {{photo_detail.like_count}}개</div>
<div class="card card-body t-w-1/3 container ">
    <div class="t-font-bold">
        {{photo_detail.user}}
    </div>
    <div class="t-mt-1 t-mb-2.5">
        {{photo_detail.content}}
    </div>
    <div class="t-p-3 t-border-gray-400 t-border-solid t-border-t t-border-r-0 t-border-b-0 t-border-l-0">
        {% if photo_detail.comment_set.count > 0 %}
        {% for comment in photo_detail.comment_set.all %}
        {{ comment.user }} {{ comment.content }}<br>
        {% endfor %}
        {% endif %}
        <div>
            <form method="POST" action="{% url 'comment:comment_photo' photo_detail.id %}">
                {% csrf_token %}
                {{user}}
                 <input type="text" name="comment" id="comment" placeholder="댓글입력..." style="border:none; width:500px; ">
                <input type="submit" style="border:none; background-color:white; color:skyblue;" value="게시">
            </form>
        </div>
    </div>
</div>

{%endblock%}