{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block content %}

<section class="section-prod-list">
    <div class="container">
        <div class="container">
            <a class="btn btn-primary" href="{% url 'photo:photo_post' %}">게시글작성</a>
            {% if photo %}
            <ul class="t-grid t-grid-cols-1 sm:t-grid-cols-2 md:t-grid-cols-3 lg:sm:t-grid-cols-4 t-gap-[20px] t-mt-4">
                {% for list in photo %}
                <li class="t-flex t-flex-col t-group">
                    <a href="{% url 'photo:photo_detail' list.id %}" data-before="Review">
                        {% for img_id in img %}
                        {% if img_id.post.id == list.id %}
                        <img src="{{ img_id.imgfile.url }}" class="t-block t-w-full t-object-cover"
                             style="aspect-ratio: 1 / 1;" alt="">
                        <br>
                        </img>
                        {% endif %}
                        {% endfor %}
                    </a>
                    {{ list.user }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div style="opacity:0.7; margin-top:10px; text-align: center;">
                작성된 게시글이 없습니다💦
            </div>
            {% endif %}
        </div>
    </div>
</section>

<ul class="pagination justify-content-center t-mt-12">
    <!-- 이전페이지 -->
    {% if photo.has_previous %}
    <li class="page-item">
        <a class="page-link" data-page="{{ photo.previous_page_number }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in photo.paginator.page_range %}
    {% if photo.number|add:-5 <= page_number <= photo.number|add:5 %}
    {% if page_number == photo.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if photo.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ photo.next_page_number }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{%endblock%}
