{% extends "layout.html" %}
{% load django_bootstrap5 %}
{%block content %}
<div class="container my-3">
    <table class="table table-hover t-text-center t-align-middle">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>서버</th>
            <th>닉네임</th>
            <th>등록일</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        {% if deal_items %}
        {% for post in deal_items %}
        <tr>
            <td>{{ post.id }}</td>
            <td>
                <a href="#" class="t-no-underline t-text-indigo-400">{{ post.subject }}</a>
            </td>
            <td>{{ post.server }}</td>
            <td>{{ post.user.username }}</td>
            <td>{{ post.create_date }}</td>
            {% if post.is_complete == 0 %}
            <td>미완료</td>
            {% else %}
            <td>완료</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr class="t-text-center">
            <td colspan="10">게시글이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'deal:post_Armor' %}">게시글작성</a>
</div>
{%endblock%}