{% extends "layout.html" %}
{% load django_bootstrap5 %}
{%block content %}
<style>
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
</style>
<section class="section-prod-detail">
    <div class="t-mt-[30px]">
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        사고팔고
                    </div>
                    <div class="card-body">
                        <select name="sale_buy">
                            <option value="True" selected="selected">삽니다</option>
                            <option value="False">팝니다</option>
                        </select>
                        <br>
                        제목 : <input id="subject" name="subject" class="t-w-96" type="text">
                    </div>
                </div>
            </div>
            {% include "form_errors.html" %}
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        상세정보
                    </div>
                    <div class="card-body">
                        분류
                        <br>
                        <select name="group">
                            <option value="전사">전사</option>
                            <option value="마법사">마법사</option>
                            <option value="궁수">궁수</option>
                            <option value="도적">도적</option>
                            <option value="해적">해적</option>
                        </select>
                        <select name="kind" onchange="categoryChange(this)">
                            <option>선택해주세요.</option>
                            <option value="방어구">방어구</option>
                            <option value="장신구">장신구</option>
                            <option value="무기">무기</option>
                        </select>
                        <select name="choose", id="choose">
                            <option>선택해주세요.</option>
                        </select>
                        <br>
                        <input id="price" name="price" class="t-w-40" type="number">
                        <label><input type="radio" name="price_kind" value="True" checked>억</label>
                        <label><input type="radio" name="price_kind" value="False">엄</label>
                        <br>
                        스타포스
                        <br>
                        <label><input type="radio" name="star_force" value="해당없음" checked>해당없음</label>
                        <label><input type="radio" name="star_force" value="17성 이하">17성 이하</label>
                        <label><input type="radio" name="star_force" value="17성 초과">17성 초과</label>
                        <br>
                        윗 잠재
                        <br>
                        <label><input type="radio" name="ability_1" value="해당없음" checked>해당없음</label>
                        <label><input type="radio" name="ability_1" value="에픽">에픽</label>
                        <label><input type="radio" name="ability_1" value="유니크">유니크</label>
                        <label><input type="radio" name="ability_1" value="레전드리">레전드리</label>
                        <br>
                        아랫 잠재
                        <br>
                        <label><input type="radio" name="ability_2" value="해당없음" checked>해당없음</label>
                        <label><input type="radio" name="ability_2" value="에픽">에픽</label>
                        <label><input type="radio" name="ability_2" value="유니크">유니크</label>
                        <label><input type="radio" name="ability_2" value="레전드리">레전드리</label>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        {% bootstrap_form form %}
                        {% bootstrap_button button_type="submit" content="등록하기" %}
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="t-text-gray-400">
            <a href="{% url 'accounts:sign_in' %}?next={{request.get_full_path}}">로그인</a> 후 이용해주세요.
        </div>
        {% endif %}
        {% if form.errors %}
        <script>
                    let $lastForm = $('form').last();
                    $(window).on('load', function() {
                        $(window).scrollTop($lastForm.offset().top);
                    });

        </script>
        {% endif %}
    </div>
    </div>
</section>
{%endblock%}
{% block script %}
<script>
    function categoryChange(e) {
    var part_armor = ["모자", "상의", "하의", "한벌옷", "장갑", "망토", "신발"];
    var part_accessory = ["얼굴장식", "눈장식", "귀고리", "어깨장식", "반지", "펜던트", "벨트", "포켓아이템"];
    var part_weapon = ["주무기", "보조무기"];
    var target = document.getElementById("choose");

    if(e.value == "방어구") var d = part_armor;
    else if(e.value == "장신구") var d = part_accessory;
    else if(e.value == "무기") var d = part_weapon;

    target.options.length = 0;

    for (x in d) {
        var opt = document.createElement("option");
        opt.value = d[x];
        opt.innerHTML = d[x];
        target.appendChild(opt);
    }
}

window.setTimeout(function() {
    $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 4000);
</script>
{% endblock %}