{% extends "layout.html" %}
{% load django_bootstrap5 %}
{%block content %}
<section class="section-prod-detail">
    <div class="t-mt-[30px]">
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        사고팔고
                    </div>
                    <div class="card-body">
                        <select name="sale_buy">
                            <option value="True" selected="selected">삽니다</option>
                            <option value="False">팝니다</option>
                        </select>
                        <br>
                        제목 : <input id="subject" name="subject" class="t-w-100" type="text">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        상세정보
                    </div>
                    <div class="card-body">
                        분류
                        <br>
                        <select name="server">
                            <option value="bera" selected="selected">베라</option>
                            <option value="scania">스카니아</option>
                            <option value="luna">루나</option>
                            <option value="zenith">제니스</option>
                            <option value="croa">크로아</option>
                            <option value="union">유니온</option>
                            <option value="elysium">엘리시움</option>
                            <option value="enosis">이노시스</option>
                            <option value="red">레드</option>
                            <option value="aurora">오로라</option>
                            <option value="arcane">아케인</option>
                            <option value="nova">노바</option>
                        </select>
                        <select name="group">
                            <option value="warrior">전사</option>
                            <option value="magician">마법사</option>
                            <option value="archer">궁수</option>
                            <option value="thief">도적</option>
                            <option value="pirate">해적</option>
                        </select>
                        <select name="part">
                            <option value="cap">모자</option>
                            <option value="top">상의</option>
                            <option value="bottom">하의</option>
                            <option value="dress">한벌옷</option>
                            <option value="gloves">장갑</option>
                            <option value="cape">망토</option>
                            <option value="shoes">신발</option>
                        </select>
                        <br>
                        <input id="price" name="price" class="t-w-40" type="">
                        <label><input type="radio" name="price_kind" value="True">억</label>
                        <label><input type="radio" name="price_kind" value="False">엄</label>
                        <br>
                        스타포스
                        <br>
                        <label><input type="radio" name="star_force" value="na">해당없음</label>
                        <label><input type="radio" name="star_force" value="under_17">17성 이하</label>
                        <label><input type="radio" name="star_force" value="up_17">17성 초과</label>
                        <br>
                        윗 잠재
                        <br>
                        <label><input type="radio" name="ability_1" value="na">해당없음</label>
                        <label><input type="radio" name="ability_1" value="epic">에픽</label>
                        <label><input type="radio" name="ability_1" value="unique">유니크</label>
                        <label><input type="radio" name="ability_1" value="legendary">레전드리</label>
                        <br>
                        아랫 잠재
                        <br>
                        <label><input type="radio" name="ability_2" value="na">해당없음</label>
                        <label><input type="radio" name="ability_2" value="epic">에픽</label>
                        <label><input type="radio" name="ability_2" value="unique">유니크</label>
                        <label><input type="radio" name="ability_2" value="legendary">레전드리</label>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        {% bootstrap_form form %}
                        {% bootstrap_button button_type="submit" content="등록하기" %}
                        {% bootstrap_button button_type="reset" content="초기화" %}
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="t-text-gray-400">
            <a href="{% url 'accounts:sign_in' %}?next={{request.get_full_path}}">로그인</a> 후 이용해주세요.
        </div>
        {% endif %}
        {% if form.errors %}
        <script>
                    let $lastForm = $('form').last();
                    $(window).on('load', function() {
                        $(window).scrollTop($lastForm.offset().top);
                    });

        </script>
        {% endif %}
    </div>
    </div>
</section>
{%endblock%}