.t-my-\[0px\] {
  margin-top: 0px;
  margin-bottom: 0px;
}

.t-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.t-mt-1 {
  margin-top: 0.25rem;
}

.t-mt-12 {
  margin-top: 3rem;
}

.t-mt-\[30px\] {
  margin-top: 30px;
}

.t-flex {
  display: flex;
}

.t-min-h-screen {
  min-height: 100vh;
}

.t-w-6\/12 {
  width: 50%;
}

.t-w-40 {
  width: 10rem;
}

.t-flex-1 {
  flex: 1 1 0%;
}

.t-flex-col {
  flex-direction: column;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-p-24 {
  padding: 6rem;
}

.t-py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.t-pt-\[56px\] {
  padding-top: 56px;
}

.t-text-center {
  text-align: center;
}

.t-align-middle {
  vertical-align: middle;
}

.t-text-indigo-400 {
  --tw-text-opacity: 1;
  color: rgb(129 140 248 / var(--tw-text-opacity));
}

.t-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.t-no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}