.t-float-right {
  float: right;
}

.t-my-\[0px\] {
  margin-top: 0px;
  margin-bottom: 0px;
}

.t-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.t-mt-1 {
  margin-top: 0.25rem;
}

.t-mt-12 {
  margin-top: 3rem;
}

.t-mt-\[30px\] {
  margin-top: 30px;
}

.t-mt-4 {
  margin-top: 1rem;
}

.t-mb-2\.5 {
  margin-bottom: 0.625rem;
}

.t-mb-2 {
  margin-bottom: 0.5rem;
}

.t-mt-2\.5 {
  margin-top: 0.625rem;
}

.t-mt-2 {
  margin-top: 0.5rem;
}

.t-block {
  display: block;
}

.t-flex {
  display: flex;
}

.t-grid {
  display: grid;
}

.t-min-h-screen {
  min-height: 100vh;
}

.t-w-3\/12 {
  width: 25%;
}

.t-w-40 {
  width: 10rem;
}

.t-w-1\/3 {
  width: 33.333333%;
}

.t-w-full {
  width: 100%;
}

.t-flex-1 {
  flex: 1 1 0%;
}

.t-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.t-flex-col {
  flex-direction: column;
}

.t-items-center {
  align-items: center;
}

.t-justify-center {
  justify-content: center;
}

.t-justify-between {
  justify-content: space-between;
}

.t-gap-\[20px\] {
  gap: 20px;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-border-0 {
  border-width: 0px;
}

.t-border {
  border-width: 1px;
}

.t-border-t {
  border-top-width: 1px;
}

.t-border-r-0 {
  border-right-width: 0px;
}

.t-border-b-0 {
  border-bottom-width: 0px;
}

.t-border-l-0 {
  border-left-width: 0px;
}

.t-border-solid {
  border-style: solid;
}

.t-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.t-border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.t-bg-current {
  background-color: currentColor;
}

.t-object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.t-p-24 {
  padding: 6rem;
}

.t-p-0 {
  padding: 0px;
}

.t-p-3 {
  padding: 0.75rem;
}

.t-py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.t-pt-\[56px\] {
  padding-top: 56px;
}

.t-pt-1 {
  padding-top: 0.25rem;
}

.t-pt-3 {
  padding-top: 0.75rem;
}

.t-pb-3 {
  padding-bottom: 0.75rem;
}

.t-text-center {
  text-align: center;
}

.t-text-right {
  text-align: right;
}

.t-align-middle {
  vertical-align: middle;
}

.t-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.t-font-bold {
  font-weight: 700;
}

.t-text-indigo-400 {
  --tw-text-opacity: 1;
  color: rgb(129 140 248 / var(--tw-text-opacity));
}

.t-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.t-text-blue-300 {
  --tw-text-opacity: 1;
  color: rgb(147 197 253 / var(--tw-text-opacity));
}

.t-text-purple-400 {
  --tw-text-opacity: 1;
  color: rgb(192 132 252 / var(--tw-text-opacity));
}

.t-no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

@media (min-width: 640px) {
  .sm\:t-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:t-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  @media (min-width: 640px) {
    .lg\:sm\:t-grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}