{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block content %}

<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="container t-text-center t-border-solid t-border-gray-300 lg:t-w-2/5 t-border t-rounded-lg t-p-0">
            <div class="t-rounded-t-lg t-font-semibold t-py-2" style="background: #B2E0F7;">
                🔎 비밀번호 초기화
            </div>
            <div class="t-w-3/5 container">
                <div class="t-text-left t-pt-6 t-pb-1">
                    이메일
                </div>
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="form-control">
                <div class="t-text-left t-pt-3 t-pb-6">
                    <input type="submit" class="btn btn-primary" value="초기화 메일 발송">
                </div>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}