.t-my-\[0px\] {
  margin-top: 0px;
  margin-bottom: 0px;
}

.t-mt-\[30px\] {
  margin-top: 30px;
}

.t-flex {
  display: flex;
}

.t-min-h-screen {
  min-height: 100vh;
}

.t-w-40 {
  width: 10rem;
}

.t-w-80 {
  width: 20rem;
}

.t-flex-1 {
  flex: 1 1 0%;
}

.t-flex-col {
  flex-direction: column;
}

.t-items-center {
  align-items: center;
}

.t-justify-center {
  justify-content: center;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.t-pt-\[56px\] {
  padding-top: 56px;
}

.t-text-center {
  text-align: center;
}

.t-text-\[20px\] {
  font-size: 20px;
}

.t-font-bold {
  font-weight: 700;
}

.t-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}