<!doctype html>
{% load static %}
{% load humanize %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>부엉이</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static 'common.css' %}">
    <script defer src="{% static 'common.js' %}"></script>
</head>
<body class="t-flex t-flex-col t-min-h-screen t-pt-[56px]">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} t-my-[0px]">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main' %}">고요미 부엉이🦉</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:sign_out' %}"><i class="fas fa-sign-out-alt"></i>
                            로그아웃</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:sign_in' %}"><i
                                class="fas fa-sign-in-alt"></i> 로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:sign_up' %}"><i class="fas fa-user-plus"></i>
                            회원가입</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>
<section>
    <h1 class="t-p-24 t-text-center t-mt-1">
        고요미 부엉이🦉
    </h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                    aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main' %}"><i
                                class="fas fa-home"></i> 홈</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                           aria-expanded="false">고요미 사고팔고</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown08">
                            <li><a class="dropdown-item" href="{% url 'deal:deal_list' %}">방어구 / 장신구</a></li>
                            <li><a class="dropdown-item" href="#">무기</a></li>
                            <li><a class="dropdown-item" href="#">캐시</a></li>
                            <li><a class="dropdown-item" href="#">기타</a></li>
                            <li><a class="dropdown-item" href="#">교불</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">고요미 구인구직</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">고요미 사진첩</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="t-flex-1 t-py-[20px] t-flex t-flex-col">
    {%block content%}
    {%endblock%}
    {% block script %}
    <script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#search_keyword").val($(".search_keyword").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});


    </script>
    {% endblock %}


</section>

<footer class="footer py-3 bg-light">
    <div class="container t-text-center">
        <span class="text-muted">고요미 부엉이🦉</span>
    </div>
</footer>

</body>
</html>