{% extends "layout.html" %}
{% load static %}
{% load humanize %}

{%block content %}
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<style>
    .swiper {
  width: 600px;
  height: 600px;
}

    .swiper-button-next,
    .swiper-button-prev {
        --swiper-navigation-size:22px;
        color: white;
        font-weight: 900;
        opacity: 0.5;
        text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    }

</style>
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper t-text-center t-my-3">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="/static/메인/대문2.jpg" width="600" height="600">
        </div>
        <div class="swiper-slide">
            <img src="/static/메인/대문.jpg" width="600" height="600">
        </div>
        <div class="swiper-slide">
            <img src="/static/메인/대문3.jpg" width="600" height="600">
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>

<div class="t-text-center t-my-3">

</div>

{%endblock%}

{% block script %}
<script type='text/javascript'>
    const swiper = new Swiper('.swiper', {

  loop: true,

  autoplay: {
    delay: 3000,
    },




  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});

</script>

</script>
{% endblock %}