{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{%block content %}

<div class="container my-3">
    <p class="t-my-5 t-text-xl"><span style="border: 3px dashed #a10d0d; padding: 0.6em;">구인구직</span></p>
    <button id="ss" class="btn btn-md collapsed btn-outline-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#demo">
        📌필터
    </button>
    <div class="collapse" id="demo">
        <form id="filterForm" method="get" action="{% url 'job:job_list' %}">
            <div class="card card-body">
                <div>
                    <p class="t-mb-3 t-text-lg t-font-semibold"><span
                            style="border: 5px double #D8EFFB; background:#f0f6fa; padding: 0.2em;">보스</span></p>
                    <label><input type="checkbox" name="boss" value="스우"> 스우 </label>
                    <label><input type="checkbox" name="boss" value="데미안"> 데미안</label>
                    <label><input type="checkbox" name="boss" value="루시드"> 루시드</label>
                    <label><input type="checkbox" name="boss" value="가엔슬"> 가엔슬</label>
                    <label><input type="checkbox" name="boss" value="윌"> 윌</label>
                    <label><input type="checkbox" name="boss" value="더스크"> 더스크</label>
                    <label><input type="checkbox" name="boss" value="진힐라"> 진힐라</label>
                    <label><input type="checkbox" name="boss" value="듄켈"> 듄켈</label>
                    <label><input type="checkbox" name="boss" value="검은마법사"> 검은마법사</label>
                    <label><input type="checkbox" name="boss" value="세렌"> 세렌</label>
                    <label><input type="checkbox" name="boss" value="칼로스"> 칼로스</label>
                </div>
                <br>
                <div>
                    <p class="t-mb-3 t-text-lg t-font-semibold"><span
                            style="border: 5px double #D8EFFB; background:#f0f6fa; padding: 0.2em;">난이도</span></p>
                    <label><input type="checkbox" name="level" value="이지"> 이지</label>
                    <label><input type="checkbox" name="level" value="노말"> 노말</label>
                    <label><input type="checkbox" name="level" value="하드"> 하드</label>
                    <label><input type="checkbox" name="level" value="카오스"> 카오스</label>
                </div>
                <br>
                <div>
                    <input type="submit" class="btn btn-primary" value="필터적용">
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover t-text-center t-align-middle">
        <thead>
        <tr class="thead-dark">
            <th width=50 class="t-hidden lg:t-table-cell">번호</th>
            <th width=90 class="t-hidden lg:t-table-cell">구인/구직</th>
            <th width=70 class="t-hidden lg:t-table-cell">상태</th>
            <th>제목</th>
            <th width=100 class="t-hidden lg:t-table-cell">보스</th>
            <th width=70 class="t-hidden lg:t-table-cell">난이도</th>
            <th width=80 class="t-hidden lg:t-table-cell">서버</th>
            <th width=110 class="t-hidden lg:t-table-cell">닉네임</th>
            <th width=100 class="t-hidden lg:t-table-cell">등록일</th>

        </tr>
        </thead>
        <tbody>
        {% if job %}
        {% for post in job %}
        <tr>
            <td class="t-hidden lg:t-table-cell">{{ post.id }}</td>
            {% if post.kind == False %}
            <td class="t-hidden lg:t-table-cell">구직</td>
            {% else %}
            <td class="t-hidden lg:t-table-cell">구인</td>
            {% endif %}
            {% if post.is_complete == False %}
            <td class="t-hidden lg:t-table-cell">미완료</td>
            {% else %}
            <td class="t-hidden lg:t-table-cell t-text-red-700">완료</td>
            {% endif %}
            <td>
                <a href="{% url 'job:job_detail' post.id %}"
                   class="t-no-underline t-text-indigo-400 t-font-bold">{{post.subject}}</a>
            </td>
            <td class="t-hidden lg:t-table-cell">
                {{ post.boss }}
            </td>
            <td class="t-hidden lg:t-table-cell">{{ post.level }}</td>
            <td class="t-hidden lg:t-table-cell">{{ post.server }}</td>
            <td class="t-hidden lg:t-table-cell">{{ post.user.username }}</td>
            <td class="t-hidden lg:t-table-cell">
                {{ post.create_date.year}}.{{ post.create_date.month}}.{{ post.create_date.day}}<br>
                {{ post.create_date.hour}}:{{ post.create_date.minute}}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <div style="opacity:0.7;">
            <tr class="t-text-center">
                <td colspan="10">게시글이 없습니다💦</td>
            </tr>
        </div>
        {% endif %}
        </tbody>
    </table>
    <form class="d-flex t-justify-center" id="searchForm" method="get" action="{% url 'job:job_list' %}">
        <input type="hidden" id="search_keyword" name="search_keyword"
               value="{{ search_keyword|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <input class="form-control me-2 t-w-3/12 t-items-center" type="search" name="search_keyword"
               placeholder="검색"
               aria-label="Search" value="{{request.GET.search_keyword}}">
        <button class="btn btn-outline-success t-whitespace-nowrap" type="submit">검색</button>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'job:post_job' %}">게시글작성</a>
</div>
<ul class="pagination justify-content-center t-mt-12">
    <!-- 이전페이지 -->
    {% if deal_items.has_previous %}
    <li class="page-item">
        <a class="page-link" data-page="{{ deal_items.previous_page_number }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in deal_items.paginator.page_range %}
    {% if deal_items.number|add:-5 <= page_number <= deal_items.number|add:5 %}
    {% if page_number == deal_items.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if deal_items.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ deal_items.next_page_number }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{%endblock%}

<section class="t-flex-1 t-py-[20px] t-flex t-flex-col">
    {% block script %}
    <script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#search_keyword").val($(".search_keyword").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});








    </script>
    {% endblock %}
</section>