{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block content %}
<style>

    .search_in{display: inline; margin: 4px 0 0 10px;}

    .search_in input{width:45%;}






</style>
<div class="container t-text-center t-p-0">
    <div class="t-text-left">
        <div class="t-w-[100%] lg:t-w-[45%] t-inline-flex t-justify-start">
            <div>
                {%if detail.kind == True %}
                <p class="t-font-bold"><span
                        style=" border-radius: 15px 15px 0 0; border-bottom: 2px solid #B2E0F7; padding: 1em; background: #D8EFFB;">구인</span>
                </p>
                {% else %}
                <p class="t-font-bold"><span
                        style=" border-radius: 15px 15px 0 0; border-bottom: 2px solid #B2E0F7; padding: 1em; background: #D8EFFB;">구직</span>
                </p>
                {% endif %}
            </div>
            <div class="t-ml-1">
                {%if detail.is_complete == True %}
                <p class="t-font-bold"><span
                        style=" border-radius: 15px 15px 0 0; border-bottom: 2px solid #000000; padding: 1em; background: #BFBFBF;">완료</span>
                </p>
                {% else %}
                {% if detail.kind == True %}
                <p class="t-font-bold"><span
                        style=" border-radius: 15px 15px 0 0; border-bottom: 2px solid #F7B2B2; padding: 1em; background: #FBD8D8;">구인중</span>
                </p>
                {% else %}
                <p class="t-font-bold"><span
                        style=" border-radius: 15px 15px 0 0; border-bottom: 2px solid #F7B2B2; padding: 1em; background: #FBD8D8;">구직중</span>
                </p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="t-bg-gray-200 t-p-2 t-text-base lg:t-text-xl">
        {{ detail.subject }}
    </div>
    <div class="t-border-solid t-border t-border-gray-300">
        <div class="t-text-right t-p-2">
            작성자 : {{ detail.user }}
        </div>
        {% if request.user == detail.user %}
        <div class="t-text-right t-mr-3">
            {% if detail.is_complete == False %}
            {% if detail.kind == True %}
            <a class="btn btn-sm collapsed btn-outline-warning" href="{% url 'job:job_complete' detail.id %}"
               type="button">
                구인완료
            </a>
            {% else %}
            <a class="btn btn-sm collapsed btn-outline-warning" href="{% url 'job:job_complete' detail.id %}"
               type="button">
                구직완료
            </a>
            {% endif %}
            {% endif %}
        {% endif %}
        </div>
        <div class="t-text-left t-ml-0 t-mb-3 lg:t-ml-3">
            <button id="ss" class="btn btn-sm collapsed btn-outline-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#demo">
                📌상세정보
            </button>
            <div class="collapse " id="demo">
                <div class="t-flex t-justify t-justify-between t-w-auto lg:t-w-1/2 t-h-20 t-border t-border-solid t-border-gray-300 t-rounded t-mb-1.5">
                    <div class="t-flex t-justify-between t-p-1 t-text-sm lg:t-text-base lg:t-p-10 t-bg-green-50 t-w-[100%] t-text-center t-items-center t-px-3">
                        <div class="t-text-center">
                            <div class="t-font-bold">
                                보스
                            </div>
                            <div class="t-mt-1">
                                {{ detail.boss }}
                            </div>
                        </div>
                        <div>
                            <div class="t-font-bold">
                                난이도
                            </div>
                            <div class="t-mt-1">
                                {{ detail.level }}
                            </div>
                        </div>
                        <div>
                            <div class="t-font-bold">
                                총인원
                            </div>
                            <div class="t-mt-1">
                                {{ detail.total }}명
                            </div>
                        </div>
                        <div>
                            <div class="t-font-bold">
                                직업
                            </div>
                            <div class="t-mt-1">
                                {{ detail.job }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="t-p-8 t-border-gray-400 t-border-solid t-border-t t-border-r-0 t-border-b-0 t-border-l-0 t-mx-3">
            {{ detail.content | safe }}
        </div>
        <div class="t-p-3 t-border-gray-400 t-border-solid t-border-t t-border-r-0 t-border-b-0 t-border-l-0">
            <div class="t-pb-3">
                {% if detail.comment_set.count > 0 %}
                {% for comment in detail.comment_set.all %}
                <div class="t-flex">
                    <div class="t-font-bold">
                        {{ comment.user }}&nbsp;&nbsp;
                    </div>
                    {{ comment.content }}<br>
                </div>
                {% endfor %}
                {% else %}
                <div style="opacity:0.7;">
                    작성된 댓글이 없습니다💦
                </div>
                {% endif %}
            </div>
            <div class="t-pt-3 t-border-gray-400 t-border-solid t-border-t t-border-r-0 t-border-b-0 t-border-l-0">
                <div class="t-text-left">
                    <form method="POST" action="{% url 'comment:comment_job' detail.id %}">
                        {% csrf_token %}
                        <span class="search_in">{{user}} <input required type="text" name="comment" id="comment"
                                                                placeholder="댓글입력..." style="border:none;"></span>
                        <input type="submit" style="border:none; background-color:white; color:skyblue; " value="게시">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}