a{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{%block content %}

<div class="container my-3">
    <button id="ss" class="btn btn-md collapsed btn-outline-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#demo">
        📌필터
    </button>
    <div class="collapse" id="demo">
        <form id="filterForm" method="get" action="{% url 'job:job_list' %}">
            <div class="card card-body">
                <div>
                    보스<br>
                    <select name="boss">
                        <option value="스우">스우</option>
                        <option value="데미안">데미안</option>
                        <option value="루시드">루시드</option>
                        <option value="가엔슬">가엔슬</option>
                        <option value="윌">윌</option>
                        <option value="더스크">더스크</option>
                        <option value="진힐라">진힐라</option>
                        <option value="듄켈">듄켈</option>
                        <option value="검은마법사">검은마법사</option>
                        <option value="세렌">세렌</option>
                        <option value="칼로스">칼로스</option>
                    </select>
                </div>
                <div>
                    난이도<br>
                    <select name="level">
                        <option value="이지"> 이지</option>
                        <option value="노말"> 노말</option>
                        <option value="하드"> 하드</option>
                        <option value="카오스"> 카오스</option>
                    </select>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="필터적용">
                </div>
            </div>
        </form>
    </div>
    <p class="t-m-5 t-text-xl"><span style="border: 3px dashed #a10d0d; padding: 0.6em;">구인구직</span></p>
    <table class="table table-hover t-text-center t-align-middle">
        <thead>
        <tr class="thead-dark">
            <th width=50>번호</th>
            <th width=100>구인/구직</th>
            <th>제목</th>
            <th width=130>보스</th>
            <th width=100>난이도</th>
            <th width=120>서버</th>
            <th width=120>닉네임</th>
            <th width=100>등록일</th>
            <th width=100>상태</th>
        </tr>
        </thead>
        <tbody>
        {% if job %}
        {% for post in job %}
        <tr>
            <td>{{ post.id }}</td>
            {% if post.kind == False %}
            <td>구직</td>
            {% else %}
            <td>구인</td>
            {% endif %}
            <td>
                <a href="{% url 'job:job_detail' post.id %}" class="t-no-underline t-text-indigo-400">{{ post.subject }}</a>
            </td>
            <td>
                {{ post.boss }}
            </td>
            <td>{{ post.level }}</td>
            <td>{{ post.server }}</td>
            <td>{{ post.user.username }}</td>
            <td>
                {{ post.create_date.year}}.{{ post.create_date.month}}.{{ post.create_date.day}}<br>
                {{ post.create_date.hour}}:{{ post.create_date.minute}}
            </td>
            {% if post.is_complete == False %}
            <td>미완료</td>
            {% else %}
            <td>완료</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <div style="opacity:0.7;">
            <tr class="t-text-center">
                <td colspan="10">게시글이 없습니다💦</td>
            </tr>
        </div>
        {% endif %}
        </tbody>
    </table>
    <form class="d-flex t-justify-center" id="searchForm" method="get" action="{% url 'job:job_list' %}">
        <input type="hidden" id="search_keyword" name="search_keyword"
               value="{{ search_keyword|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <input class="form-control me-2 t-w-3/12 t-items-center" type="search" name="search_keyword"
               placeholder="검색"
               aria-label="Search" value="{{request.GET.search_keyword}}">
        <button class="btn btn-outline-success t-whitespace-nowrap" type="submit">검색</button>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'job:post_job' %}">게시글작성</a>
</div>
<ul class="pagination justify-content-center t-mt-12">
    <!-- 이전페이지 -->
    {% if deal_items.has_previous %}
    <li class="page-item">
        <a class="page-link" data-page="{{ deal_items.previous_page_number }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in deal_items.paginator.page_range %}
    {% if deal_items.number|add:-5 <= page_number <= deal_items.number|add:5 %}
    {% if page_number == deal_items.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if deal_items.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ deal_items.next_page_number }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{%endblock%}

<section class="t-flex-1 t-py-[20px] t-flex t-flex-col">
    {% block script %}
    <script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#search_keyword").val($(".search_keyword").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});





    </script>
    {% endblock %}
</section>